{% extends "base.html" %}

{% block title %} name {% endblock title %}
        
{% block content %}

        <h1>{{name}}</h1>
        <p>{{address}}</p>
        <p>{{email}}</p>
        <p>{{contact}}</p>

{% endblock %}