{% extends "base.html" %}

{% block title %} name {% endblock title %}
        
{% block content %}

        <h1>About Me</h1>
        <p>{{shs}}</p>
        <p>{{jhs}}</p>
        <p>{{elem}}</p>

{% endblock %}